@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 330 7% 95%;
    --foreground: 0 0% 0%;
    --card: 330 7% 95%;
    --card-foreground: 0 0% 0%;
    --popover: 330 7% 95%;
    --popover-foreground: 0 0% 0%;
    --primary: 2 80% 46%;
    --primary-foreground: 330 7% 95%;
    --secondary: 0 0% 90%;
    --secondary-foreground: 2 80% 46%;
    --muted: 330 7% 95%;
    --muted-foreground: 0 0% 45%;
    --accent: 0 0% 14%;
    --accent-foreground: 330 7% 95%;
    --destructive: 2 80% 46%;
    --destructive-foreground: 330 7% 95%;
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 2 80% 46%;
    --radius: 0.5rem;
    --chart-1: 2 80% 46%;
    --chart-2: 0 0% 14%;
    --chart-3: 0 0% 45%;
    --chart-4: 0 0% 75%;
    --chart-5: 0 0% 90%;
    --sidebar-background: 330 7% 95%;
    --sidebar-foreground: 0 0% 0%;
    --sidebar-primary: 2 80% 46%;
    --sidebar-primary-foreground: 330 7% 95%;
    --sidebar-accent: 0 0% 14%;
    --sidebar-accent-foreground: 330 7% 95%;
    --sidebar-border: 0 0% 90%;
    --sidebar-ring: 2 80% 46%;
  }

  .dark {
    --background: 0 0% 8%;
    --foreground: 0 0% 100%;
    --card: 0 0% 10%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 100%;
    --primary: 2 76% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 65%;
    --accent: 0 0% 25%;
    --accent-foreground: 0 0% 100%;
    --destructive: 2 76% 40%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 2 76% 40%;
    --radius: 0.5rem;
    --chart-1: 2 76% 40%;
    --chart-2: 0 0% 100%;
    --chart-3: 0 0% 65%;
    --chart-4: 0 0% 45%;
    --chart-5: 0 0% 25%;
    --sidebar-background: 0 0% 8%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 2 76% 40%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 25%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 0 0% 20%;
    --sidebar-ring: 2 76% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
